$anim_time: 1s;

//OPEN

@keyframes topBar_open {
    0% {
        transform: translateY(0px) rotate(0deg);
        width: 40px;
    }

    10% {
        transform: translateY(-8px) translateX(15px) rotate(0deg);
        width: 40px;
    }

    50% {
        transform: translateY(25px) translateX(15px) rotate(45deg);
        width: 40px;
    }

    75% {
        transform: translateY(12px) translateX(15px) rotate(45deg);
        width: 40px;
    }

    100% {
        transform: translateY(17px) translateX(15px) rotate(45deg);
        width: 40px;
    }
}

@keyframes bottomBar_open {
    0% {
        transform: translateY(0px) rotate(0deg);
        width: 40px;
    }

    10% {
        transform: translateY(-8px) translateX(-15px) rotate(0deg);
        width: 40px;
    }

    50% {
        transform: translateY(0px) translateX(-15px) rotate(-45deg);
        width: 40px;
    }

    75% {
        transform: translateY(-10px) translateX(-15px) rotate(-45deg);
        width: 40px;
    }

    100% {
        transform: translateY(-8px) translateX(-15px) rotate(-45deg);
        width: 40px;
    }
}

@keyframes menuLabel_open {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    25% {
        transform: translateY(-18px);
    }

    45% {
        transform: translateY(44px);
        opacity: 1;
    }

    48% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(30px);
        opacity: 0;
    }
}

// CLOSE


@keyframes topBar_close {
    0% {
        transform: translateY(17px) rotate(45deg);
        width: 40px;
    }

    35% {
        transform: translateY(-8px) rotate(-4deg);
        width: 40px;
    }

    53% {
        transform: translateY(10px) rotate(3deg);
        width: 40px;
    }

    70% {
        transform: translateY(-6px) rotate(0deg);
        width: 40px;
    }

    100% {
        transform: translateY(-2px) rotate(0deg);
        width: 40px;
    }
}

@keyframes bottomBar_close {
    0% {
        transform: translateY(-8px) rotate(-45deg);
        width: 40px;
    }

    35% {
        transform: translateY(-18px) rotate(6deg);
        width: 40px;
    }

    53% {
        transform: translateY(0px) rotate(-3deg);
        width: 40px;
    }

    68% {
        transform: translateY(-7px) rotate(0deg);
        width: 40px;
    }

    100% {
        transform: translateY(0px) rotate(0deg);
        width: 40px;
    }
}

@keyframes menuLabel_close {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    5% {
        transform: translateY(25px);
        opacity: 1;
    }

    25% {
        transform: translateY(-30px);
        opacity: 1;
    }

    37% {
        transform: translateY(-22px);
        opacity: 1;
    }

    45% {
        transform: translateY(-22px);
        opacity: 1;
    }

    58% {
        transform: translateY(8px) rotate(-10deg);
        opacity: 1;
    }

    83% {
        transform: translateY(-6px) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

#menu-btn {
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
    width: 40px;
    height: 55px;

    &:before,
    &:after {
        content: '';
        width: 100%;
        height: 6px;
        background-color: #FFF;
        display: block;
        position: absolute;
        border-radius: 20px;
        right: 25px;
    }

    .text {
        color: #FFF;
        display: block;
        position: absolute;
        bottom: 0;
        font-size: 1.5rem;
        letter-spacing: 2.5px;
        left: -35px;
        @media (max-width: 640px) {
            left: -30px;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &.open {
        &:before {
            animation: topBar_open $anim_time ease-in-out;
            animation-fill-mode: forwards;
            top: 10px;
            right: 55px;
        }

        &:after {
            animation: bottomBar_open $anim_time ease-in-out;
            animation-fill-mode: forwards;
            top: 35px;
        }

        .text {
            animation: menuLabel_open $anim_time ease-in;
            animation-fill-mode: forwards;
        }

    }

    &.close {
        &:before {
            animation: topBar_close $anim_time ease-in-out;
            animation-fill-mode: forwards;
            top: 15px;
            transform-origin: left center;
            @media (max-width: 640px) {
                top: 10px;
            }
        }

        &:after {
            animation: bottomBar_close $anim_time ease-in-out;
            animation-fill-mode: forwards;
            top: 35px;
            transform-origin: right center;
            @media (max-width: 640px) {
                top: 25px;
            }
        }

        .text {
            animation: menuLabel_close $anim_time ease-in;
            animation-fill-mode: forwards; 
            bottom: -20px;
            @media (max-width: 640px) {
                bottom: 0;
            }
        }
    }
}