@mixin card-shadow {
    box-shadow: 10px 10px 5px rgba(206, 174, 158, 0.2);
}

// Personnal logo
@mixin personal-logo {
    @include card-shadow;
    width: 100px;
    height: 100px;
    background-color: $mainColor2;
    color: $btnTextColor;
    font-size: 30px;
    font-weight: 900;
    border-radius: 5%;

    @media (max-width: 640px) {
        width: 60px;
        height: 60px;
        font-size: 20px;
        font-weight: bold
    }
}

// Display flex center
@mixin display-flex ($justifyContent: center, $alignItems: center) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

// Position absolute center
@mixin absolute-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
    left: 0;
    right: 0px;
    text-align: center;
}

// Link
@mixin link-scale {
    text-decoration: none;
    font-weight: bolder;
    scale: 1;

    &:hover,
    &:focus {
        scale: 1.1;
    }
}

// Button
@mixin btn-pink {
    @include display-flex;
    max-width: 235px;
    height: 55px;
    width: 100%;
    padding: 5px 10px;
    color: $btnTextColor;
    background-color: $mainColor1;
    border: none;
    font: normal normal 500 2rem Poppins;
    box-shadow: 0px 23.5167px 48.9931px rgba(178, 64, 93, 0.1);
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
}