@mixin card-shadow {
    box-shadow: 10px 10px 5px rgba(206, 174, 158, 0.2);
}

// Personnal logo
@mixin personal-logo {
    // @include card-shadow;
    border: thick #FFFFFF;
    width: 100px;
    height: 100px;
    background-color: $backgroundColor1;
    color: $textColor;
    font-size: 30px;
    font-weight: 900;
    border-radius: 5%;
    box-shadow: 3px 4px 10px #4e5156;

    @media (max-width: 640px) {
        width: 60px;
        height: 60px;
        font-size: 20px;
        font-weight: bold
    }
}

// Display flex center
@mixin display-flex ($justifyContent: center, $alignItems: center) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

// Position absolute center
@mixin absolute-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
    left: 0;
    right: 0px;
    text-align: center;
}

// Link
@mixin link-scale {
    text-decoration: none;
    font-weight: bolder;
    scale: 1;
    color: white;

    &:link, &:visited {
        text-decoration: none;
    }

    &:hover,
    &:focus {
        scale: 1.1;
    }

    &:active {
        text-decoration: none;
    }
}

// Button
@mixin btn-style {
    @include display-flex;
    width: fit-content;
    height: 35px;
    padding: 5px 20px;
    color: $btnTextColor;
    background-color: $mainColor1;
    border: none;
    font: normal normal 500 1.5rem Poppins;
    box-shadow: 0px 23.5167px 48.9931px rgba(178, 64, 93, 0.1);
    border-radius: 10px;
    cursor: pointer;

    @media (max-width: 640px) {
        height: 40px;
    }
}

@mixin header {
    color: $headerColor;
}