// Variable colors

$mainColor1: #FFCA28;
$mainColor2: #FFFFFF;
$btnTextColor: #0A0F1B;
$titleColor:  #321D1D;
$subTitleColor: #757d9a;

$headerColor: #FFFFFF;
$headerColor2: #CFA616;
$headerColor3: #272729;
$textColor: #FFFFFF;
$btnColor: #FFCA28;
$backgroundColor1:  #272729;
$backgroundColor2:  #CFA616;
$backgroundColor3:  #0A0F1B;


// Font Types

$mainFont: 'Trade Gothic', 'Roboto Condensed', sans-serif;
$sectionFont: 'Avant Grade', 'Poppins', sans-serif;
