// Colors palette

// $color-primary-1: #FFCA28; // #E9204F;
// $color-primary-2: #0A0F1B;
// $color-secondary : #FFFFFF;
// $color-ternary : #321D1D;
// $color-quaternary : #757d9a;
// $color-quinary : #F6F6F6;

// // Variable colors

// $mainColor1: $color-primary-1;
// $mainColor2: $color-primary-2;
// $btnTextColor: $color-primary-2;
// $titleColor: $color-ternary;
// $subTitleColor: $color-quaternary;
// $backgroundColor1: $color-quinary;
// $backgroundColor2: $color-secondary;


$color-primary-1: #FFCA28; // #E9204F;
$color-primary-2: #0A0F1B;
$color-secondary : #FFFFFF;
$color-ternary : #321D1D;
$color-quaternary : #757d9a;
$color-quinary : #F6F6F6;

// Variable colors

$mainColor1: $color-primary-1;
$mainColor2: #FFFFFF;
$btnTextColor: $color-primary-2;
$titleColor: $color-ternary;
$subTitleColor: $color-quaternary;
$backgroundColor1:  #0A0F1B;
$backgroundColor2: $color-secondary;

$headerColor: #FFFFFF;
$textColor: #FFFFFF;
$btnColor: #FFCA28;
$backgroundColor1:  #0A0F1B;
$backgroundColor2:  #757d9a;


// Font Types

$mainFont: 'Trade Gothic', 'Roboto Condensed', sans-serif;
$sectionFont: 'Avant Grade', 'Poppins', sans-serif;

// // Colors palette

// $color-primary-1: #8AB4F8;
// $color-primary-2: #202124;
// $color-secondary : #FFFFFF;
// $color-ternary : #202124;
// $color-quaternary : #757d9a;
// $color-quinary : #F6F6F6;

// // Variable colors

// $mainColor1: $color-primary-1;
// $mainColor2: $color-primary-2;
// $btnTextColor: $color-primary-2;
// $titleColor: $color-ternary;
// $subTitleColor: $color-quaternary;
// $backgroundColor1: #788076;
// $backgroundColor2: $color-secondary;
// $backgroundColor3: #202124;