// Colors palette

$color-primary-1: #E9204F;
$color-primary-2: #0A0F1B;
$color-secondary : #FFFFFF;
$color-ternary : #321D1D;
$color-quaternary : #757d9a;
$color-quinary : #F6F6F6;

// Variable colors

$mainColor1: $color-primary-1;
$mainColor2: $color-primary-2;
$btnTextColor: $color-secondary;
$titleColor: $color-ternary;
$subTitleColor: $color-quaternary;
$backgroundColor1: $color-quinary;
$backgroundColor2: $color-secondary;


// Font Types

$mainFont: 'Trade Gothic', 'Roboto Condensed', sans-serif;
$sectionFont: 'Avant Grade', 'Poppins', sans-serif;