.card-project {
    .box {
        @include display-flex;
        flex-direction: column;
        min-height: 800px;
        width: 100%;
        background-color: $backgroundColor1;
        border-radius: 40px;
        position: relative;

        &__content {
            @include display-flex;
            flex-direction: column;
            margin-top: 70px;

            .img {
                height: 200px;
                width: 50%;
                border: solid 5px black;
                border-radius: 10px;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                }

            }

            .title {
                margin-top: 15px;
                h3 {
                    line-height: 0;
                }
            }

            .description {
                color: $textColor;
                text-align: center;
                margin: 0 50px;
            }

            .btn {
                @include btn-style;
            }
        }
    }
}

@media (max-width: 640px) {
    .card-project {
        .box {
            min-height: 600px;

            &__header {
                height: 70px;

                .title {
                    font-size: 2rem;
                    font-weight: 800;
                    color: $mainColor2;
                    padding-bottom: 20px;
                }
            }

            &__content {
                margin-top: 40px;

                .img {
                    height: 200px;
                    width: 70%;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                .description {
                    color: $textColor;
                    text-align: center;
                    width: 90%;
                }

                .btn {
                    @include btn-style;
                }
            }
        }
    }
}