.competences {
    @include display-flex;
    flex-direction: column;
    color: $titleColor;
    padding: 50px 0px;
    background-color: $backgroundColor1;

    @media (max-width: 1180px) {
        margin: 0;
    }

    &__title {
        @include header;
        margin: 0 0 50px;
    }

    &__skills {
        @include display-flex($justifyContent: space-evenly);
        flex-wrap: wrap;
        width: 100%;

        img,
        svg {
            height: 5rem;
            font-size: 5rem;

            &:hover {
                scale: 1.2;
            }

            @media (max-width: "640px") {
                margin: 2rem;
                height: 7rem;
                font-size: 7rem;
            }
        }
    }
}