.contact-button {
    @include display-flex;
    transition: 400ms;
    position: fixed;
    right: 10%;
    bottom: 50px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    background-color: $backgroundColor3;
    color: $backgroundColor1;
    font-size: 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
    z-index: 10;

    &:hover {
        background: darken($backgroundColor3, 5%);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    }

    div {
        @include display-flex;
        transition: 400ms;
        opacity: 0;
        width: 0px;
        height: 0px;
        text-align: center;
        border-radius: 50%;
        color: #FFFFFF;
        font-size: 24px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
        cursor: pointer;
        z-index: -1;
        position: relative;

        .social-network-icon {
            height: 100%;

            &:hover {
                scale: none;
            }
        }

        &:hover {
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
            z-index: 10;
        }

        &:nth-child(2) {
            transition-delay: 200ms;
            position: absolute;
            right: 30px;
            bottom: 30px;
            background: $backgroundColor3;
        }

        &:nth-child(3) {
            transition-delay: 300ms;
            position: absolute;
            right: 30px;
            bottom: 30px;
            background: $backgroundColor3;
        }

        &:nth-child(4) {
            transition-delay: 400ms;
            position: absolute;
            right: 30px;
            bottom: 30px;
            background: $backgroundColor3;
        }
    }

    &:hover {
        div {
            opacity: 1;
            width: 50px;
            height: 50px;

            a {
                @include display-flex;
                scale: none;
            }

            &:nth-child(2) {
                right: 120px;
                bottom: 20px;

                &:hover {
                    transition-delay: 200ms;
                    background: darken($backgroundColor3, 5%);
                }
            }

            &:nth-child(3) {
                right: 80px;
                bottom: 85px;

                &:hover {
                    transition-delay: 300ms;
                    background: darken($backgroundColor3, 5%);
                }
            }

            &:nth-child(4) {
                right: 0px;
                bottom: 105px;

                &:hover {
                    transition-delay: 400ms;
                    background: darken($backgroundColor3, 5%);
                }
            }
        }
    }
}