.experiences {
    @include display-flex;
    flex-direction: column;
    color: $titleColor;
    padding: 50px 0px;
    width: 100%;
    overflow-x: hidden;

    @media (max-width: 1280px) {
        padding: 50px 0 0;
    }

    &__title {
        @include header;
        margin: 0 0 50px;
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        flex: 1;

        .experience-date {
            @include display-flex;
            color: $mainColor2;
            margin: 0 50px 30px 50px;
            font-size: 2.8125rem !important;

            @media (max-width: 1024px) {
                color: $titleColor;
                margin: 0;
            }
            @media (max-width: 640px) {
                font-size: 1.875rem !important;
            }
        }
    }
}

.vertical-timeline-element-content {
    .vertical-timeline-element {
        width: 70% !important;
    }
}

.vertical-timeline.vertical-timeline--two-columns {
    width: 380% !important;
}