.formations {
    @include display-flex;
    flex-direction: column;
    color: $titleColor;
    padding: 50px 0px;
    // width: 100%;
    overflow: hidden;
    background-color: $backgroundColor3;

    @media (max-width: 640px) {
        padding: 50px 0 0;
    }

    &__title {
        @include header;
        margin: 0 0 50px;
    }

    &__cards {
        width: 100%;
        max-width: 1180px;

        @media (max-width: 1180px) {
            max-width: 800px;
        }

        @media (max-width: 640px) {
            max-width: 300px;
        }
    }
}