.formations {
    @include display-flex;
    flex-direction: column;
    color: $titleColor;
    padding: 50px 0px;
    width: 100%;
    overflow-x: hidden;

    &__title {
        @include header;
        margin: 0 0 50px;
    }

    &__cards {
        width: 100%;
    }
}