.personal-logo {
    @include display-flex;
    justify-content: flex-start;

    .logo {
        @include display-flex;
        @include personal-logo;
    }
}

.menu-logo {
    justify-self: end;
    border: none;
    width: 35px;
    height: 35px;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-weight: 900 !important;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 99999;
    height: 120px;

    .navigation {
        @include display-flex;
        justify-content: space-around;

        @media (max-width: 1024px) {
            display: none;
        }
    }

}