.modal {
    @include display-flex;
    flex-direction: column;
    height: 95vh;
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 1280px;
    z-index: 1;

    &__text {
        h1 {
            text-align: center;
        }
    }
    &__close {
        @include display-flex();
        flex-direction: column;
        position : absolute;
        top: 10%;
        right: 0%;
        width: 50px;
    }
}